{% extends 'layout.html' %}
{% block body %}
<html>
    <body>
        <h2 style="text-align: center;">Kafka - Spark - streaming (simulation)</h2>

        <form action="/result" method=post>
            <fieldset>
                <legend>Streaming</legend>
                <div style=font-size:20px; font-weight:bold; margin-left:150px;>

                    {% for field in form %}
                    <p>{{ field.label() }}</p>
                    <p>{{ field }}</p>
                        {% endfor %}
                </div>
            </fieldset>
        </form>
    </body>
</html>
{% endblock %}